#header {
    padding: 2px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
#mapid {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 90%;  /* or as desired */
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}
.container{
    width: 100%;
}
